@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
}

html,
body {
    height: 100%;
}

body {
    font-family: 'Kumbh Sans', sans-serif;
}

#sidebar {
    background-color:#f2f2f2;
    width: 300px;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.1);
    transition: 200ms width;
}

.title-container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 20px 0px;
}

.title-container h1 {
    font-size: 20px;
    font-weight: lighter;
}

.links-containter{
    padding: 0px 15px;
}

.links {
    display: flex;
    align-items: center;
}

.icon {
    height: 50px;
    width: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    color: #1E1E1E;
}

.links span {
    padding: 0px 20px;
}

#main-dashboard-content {
    margin-left: 300px;
    box-sizing: border-box;
    background-color:white;
    height: 100%;
    padding: 20px 25px;
}

.input-box {
    display: flex;
    justify-content: space-between;
    width: 400px;
    box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.2);
    padding: 15px 25px;
    border-radius: 15px;
}

.input-box input{
    border: none;
    outline: none;
    width: 100%;
}

.input-box i{
    color:#1E1E1E;
}

.action-icon-one,
.action-icon-two {
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: #2E3192;
    box-shadow: 0px 1px 5px 1px rgba(0, 0, 0, 0.2);
    margin-left: 8px;
}

.action-icon-two {
    background-color: #ffae00;
}

.action-icon {
    display: flex;
}

#top-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#welcome-title {
    font-size: 24px;
    font-weight: lighter;
    margin: 20px 5px;
}

#grid-container {
    display: grid;
    grid-template-columns: 75% auto;
    grid-gap: 25px;
}

.grid-item {
    height: 350px;
    box-shadow: 0px 0px 15px 1px rgba(0, 0, 0, 0.2);
    border-radius: 25px;
    box-sizing: border-box;
    padding: 50px;
}

.grid-item img{
    width: 1100px;
    height: 250px;
}

.outlook-pic {
    width: 300px;
    height: 250px;
}

@media (max-width: 1800px) {
    #grid-container{
        grid-template-columns: 100%;
    }
    .grid-item img {
        max-width: 100%;
    }
}

@media (max-width: 956px) {
    .title-container h1{
        display: none;
    }

    .links span {
        display: none;
    }

    #sidebar {
        width: 55px;
    }

    #main-dashboard-content {
        margin-left: 55px;
    }
}

#chart_div {
    width: 1100px;
    height: 190px;
}